<app-form-container>
  <h1>Sign in</h1>

  <!-- Error Message -->
  <ng-container *ngIf="error">
    <app-message variant="danger">{{ error }}</app-message>
  </ng-container>

  <form
    novalidate
    #loginForm="ngForm"
    (ngSubmit)="onSubmitHandler()"
    autocomplete
  >
    <!-- Email -->
    <div class="form-group">
      <label for="email" class="form-label">Email Address:</label>
      <input
        class="form-control"
        id="email"
        name="email"
        type="email"
        #email="ngModel"
        placeholder="Enter email"
        [ngClass]="{
          'is-valid': email['status'] === 'VALID' && email['touched'],
          'is-invalid': email['status'] === 'INVALID' && email['touched']
        }"
        ngModel
        required
        email
      />
      <div class="invalid-feedback">
        <ng-container *ngIf="email.value == ''; else validation"
          >Required this field!
        </ng-container>

        <ng-template #validation> Please enter a valid email! </ng-template>
      </div>
    </div>

    <!-- Password -->
    <div class="form-group pt-4">
      <label for="password" class="form-label">Password:</label>
      <input
        id="password"
        class="form-control"
        [ngClass]="{
          'is-valid': password['status'] === 'VALID' && password['touched'],
          'is-invalid': password['status'] === 'INVALID' && password['touched']
        }"
        name="password"
        type="password"
        placeholder="Enter password"
        #password="ngModel"
        minlength="4"
        ngModel
        required
      />

      <div class="invalid-feedback">
        <ng-container *ngIf="password.value == ''"
          >Required this field!
        </ng-container>

        <ng-container
          *ngIf="password.value != '' && password.value?.length < 4"
        >
          password must be longer than or equal to 4 characters
        </ng-container>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="d-grid mt-5">
      <!-- <div class="text-center" *ngIf="loader">
        <app-loader></app-loader>
      </div> -->

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!loginForm.valid || loading"
      >
        {{ loading ? "Signing in" : "Sign in" }}
      </button>
    </div>
  </form>
  <div class="row py-3">
    <div class="col">
      New Customer
      <a class="link" [routerLink]="['/auth', 'register']">Register</a>
    </div>
  </div>
  <div class="row py-3">
    <strong class="text-danger"
      >Note: <br />
      <small>Admin: admin@mail.com | admin123 </small> <br />
      <small>User: john@mail.com | changeme</small>
    </strong>
  </div>
</app-form-container>
