<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">E-Shop</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <!-- <li class="nav-item">
          <a class="nav-link active" href="#"
            >Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/products']"
            routerLinkActive="active"
            >Products
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a [routerLink]="['/cart']" class="nav-link">
            <i class="fas fa-shopping-cart"></i>
            Cart
          </a>
        </li>

        <ul class="navbar-nav" *ngIf="user; else login">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDarkDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-user"></i> 
              {{ user.name }}
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink"
            >
              <li>
                <a [routerLink]="['/profile']" class="dropdown-item">
                  Profile
                </a>
              </li>
              <li>
                <a (click)="logoutHandler()" class="dropdown-item"> Logout </a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="navbar-nav" *ngIf="user && user.role === 'admin'">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDarkDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Admin
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink"
            >
              <li>
                <a [routerLink]="['/admin/users']" class="dropdown-item">
                  Users
                </a>
              </li>
              <li>
                <a [routerLink]="['/admin/products']" class="dropdown-item">
                  Products
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <ng-template #login>
          <li class="nav-item">
            <a [routerLink]="['auth', 'login']" class="nav-link">
              <i class="fas fa-user"></i>
              Sign in
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
