<div class="card my-3 rounded">
  <a [routerLink]="['/product', product.id]">
    <img class="card-img-top" [src]="product.images[0]" alt="product-img" />
  </a>
  <div class="card-body">
    <span class="badge rounded-pill bg-info my-2">{{
      product.category.name
    }}</span>
    <a class="nav-link" [routerLink]="['/product', product.id]">
      <h5 class="card-title">{{ product.title }}</h5>
    </a>

    <div class="card-text text-truncate">
      {{ product.description }}
    </div>
    <h1 class="card-title pricing-card-title">
      {{ product.price | currency }}
    </h1>
  </div>
  <div class="card-footer text-muted">
    {{ product.creationAt | date: "mediumDate" }}
  </div>
</div>
