/* You can add global styles to this file, and also import other style files */
.center {
  min-height: 100vh;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
